version: '3.8'

services:
  # 1. Redis (The Job Queue Memory)
  redis:
    image: redis:alpine
    container_name: x_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  # 2. PostgreSQL (The Main Database)
  postgres:
    image: postgres:16-alpine
    container_name: x_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
  redis_data: